modules = ["web", "nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Preview Website"

[[workflows.workflow]]
name = "Preview Website"
author = 43626289
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m http.server 5000"
